<p>나는 지금 자바스크립트를 공부하고 있다.</p>
<hr />



   <% colors.forEach( function(color) { %>
   <h2  style = <%= color  %> >나는 지금 ejs 모듈을 공부하고 있다.</br>그치만 어렵다.</h2>
   <% })%>
  



<%# // for 문만 했을 때 하려면 주석처리 다 빼야함 %>
<%# for (var i = 0; i < colors.length; i++) { %>
   <!-- <h2  style = <#%= colors[i]  %> >나는 지금 ejs 모듈을 공부하고 있다.</br>그치만 어렵다.</h2> -->
   <%# } %> 








