doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', herf='/stylesheets/style.css')
    body
        h1 #{title}
        p Node.js Programmig for Mordern Web Development